<md-toolbar color="warn">
  <span>Angular2Twitter</span>
</md-toolbar>

<md-tab-group [selectedIndex]="0">
  <md-tab>
    <template md-tab-label>
      <a [routerLink]="['home']"><i class="material-icons md-36">home</i></a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <a [routerLink]="['people']"><i class="material-icons md-36">people</i></a>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>
      <a [routerLink]="['face']"><i class="material-icons md-36">face</i></a>
    </template>
  </md-tab>
</md-tab-group>

<router-outlet></router-outlet>
